<div class="container-fluid" style="background-color:#222; height:100%">
    <div class="container">
        <div class="row" style="padding:10px; color:#ccc">
            <div class="col">
                <p>Created from scratch by Mrugank Patankar</p>
                <p>This may grow bigger and bigger and serve as a self tutorial for me.</p>
            </div>
            <div class="col">
                <br/><br/>
                <h2 align="center">Learn Angular!</h2>
            </div>
            <div class="col">
                <p>Additional links can probably go here.</p>
                <p>Github: <a href="github.com">Mrugank's Github</a></p>
            </div>
        </div>
    </div>
</div>