<div class="container-fluid sticky-top" align="center" style="background-color:#222; color:#ccc;">
  <h3>Company <<\/>> Name</h3>
  <ul class="nav nav-tabs " role="tablist" style="background-color:#222; color:#ccc; margin:auto">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#!/home">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#!/version">Version Info</a>
        <a class="dropdown-item" href="#!/structure">Directory Structure</a>
        <a class="dropdown-item" href="#">Need something here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#!/vulns">Vulnerabilities</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!/routing" data-toggle="tab">Angular Routes</a>
    </li>
    <li class="nav-item" data-toggle="tab">
      <a class="nav-link disabled">Company Name</a>
    </li>
  </ul>
</div>